{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h2 class="mb-4welcome" >Welcome Back, {{ guardian_name1 }}</h2>
        <form action="/register" method="POST">
            <div class="mb-3">
                <div class="Dashboard">  
                    <h4>{{ child_name }}</h4>
                    <!-- <video controls autoplay style="width: 100%; height: auto; max-height: 60vh;">
                        <source src="{{ video_url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->

                    <video id="myVideo" controls autoplay style="width: 100%; height: auto; max-height: 60vh;">
                        <source src="{{ url_for('static', filename='images/babyvideodemo.mp4') }}" type="video/mp4" class="responsive-img">
                        Your browser does not support the video tag.
                    </video>
                    
                
                    
                </div>
            </div>
        <h4>Status</h4>
            <div class="block2">
                
                <ul class="statusboardlist">
                    <li class="statusboard">
                        <div id="muteToggle" style="cursor: pointer;">
                            <!-- Mute Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                                <path d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4 4 0 0 0 12 8V7a.5.5 0 0 1 1 0zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a5 5 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4m3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3"/>
                                <path d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607m-7.84-9.253 12 12 .708-.708-12-12z"/>
                            </svg>
                        </div>
                        <div id="unmuteIcon" style="display:none; cursor: pointer;">
                            <!-- Unmute Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                                <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3"/>
                            </svg>
                        </div>
                    </li>
                
                    
                    <li class="statusboard"> <!--music icon-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
                            <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
                            <path fill-rule="evenodd" d="M12 3v10h-1V3z"/>
                            <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1z"/>
                            <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </li>
                </ul>
                <div class="statusboard2">
                    <h4>{{ child_name }} is...</h4>
                    <span id="statusText">Active</span>
                    <div class="statusIcons">
                        <div class="statusIcon active" data-status="Active">
                            <img src="static/images/active-icon.png" alt="Active" width="32" height="32">
                        </div>
                        <div class="statusIcon" data-status="Sleeping">
                            <img src="static/images/sleeping-icon.png" alt="Sleeping" width="32" height="32">
                        </div>
                        <div class="statusIcon" data-status="Crying">
                            <img src="static/images/crying-icon.png" alt="Crying" width="32" height="32">
                        </div>
                    </div>
                </div>
                
               
            </div>
            <div class="blocknav">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-webcam" viewBox="0 0 16 16">
                        <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H9.269c.144.162.33.324.531.475a7 7 0 0 0 .907.57l.014.006.003.002A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.224-.947l.003-.002.014-.007a5 5 0 0 0 .268-.148 7 7 0 0 0 .639-.421c.2-.15.387-.313.531-.475H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1z"/>
                        <path d="M8 6.5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m7 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                      </svg>
                    Live View
                </button>
                <button class="button1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                   Bedroom
                </button>
            </div>
            <h4>History</h4>
            <div class="HistoryBlock">
                <div class="HistoryContent">
                    <img src="{{ url_for('static', filename='images/pretty.png') }}" alt="Pretty Image" class="responsive-img">
                    <div class="Text">
                       
                        <h4>20:44</h4>
                        <p>{{ child_name }}: Motion Detected</p>
                    </div>
                </div>
            </div>
            <div class="block3">
                <button class="grid-button">Sleep</button>
                <button class="grid-button2">Activity</button>
                <button class="grid-button3">Temperature</button>
                <button class="grid-button4">History</button>
            </div>
            

            
        </form>
    </div>
{% endblock %}



   